*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* WARNING: PER TUTTO */
img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid green;
  margin-right: 20px;
}

i{
  font-size: 30px;
  color: grey;
}

section > div{
  display: flex;
  align-items: center;
  padding: 20px;
}
/* WARNING: PER TUTTO */

body{
  padding: 20px 0;
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}

#app{
  margin: auto;
  width: 70vw;
  height: 95vh;
  display: flex;
  flex-direction: row;
}

/* WARNING: PARTE SINISTRA */
.left{
  width: 40%;
  height: 100%;
  border: 1px solid grey;
}

/* ZONA HEADER SINISTRO */
.header-left{
  width: 100%;
  height: 10%;
  background-color: lightgrey;
}

.header-left .icons{
  float: right;
}

/* ZONA NOTIFICHE SINISTRO */
.notify-left{
  width: 100%;
  height: 10%;
  background-color: lightblue;
}

.notify-left i{
  padding-right: 20px;
}

/* ZONA RICERCA SINISTRO */
.search-left{
  width: 100%;
  height: 10%;
  background-color: lightgrey;
}

.search-left input{
  height: 100%;
  width: 100%;
  border: none;
  margin-left: 20px;
  border-radius: 10px;
}

/* ZONA CONTATTI SINISTRO */
.contact-left{
  width: 100%;
  height: 70%;
  background-color: yellow;
}

/* WARNING: PARTE DESTRA */
.right{
  width: 60%;
  height: 100%;
  border: 1px solid grey;
}

/* ZONA USER DESTRO */
.user-left{
  width: 100%;
  height: 10%;
  background-color: red;
}

/* ZONA CHAT DESTRO */
.chat-left{
  width: 100%;
  height: 80%;
  background-color: blue;
}

/* ZONA DIGITAZIONE DESTRO */
.digit-left{
  width: 100%;
  height: 10%;
  background-color: green;
}
