*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* WARNING: PER TUTTO */
img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid green;
  margin-right: 20px;
}

i{
  font-size: 30px;
  color: grey;
}

i:hover{
  color: darkblue;
  cursor: pointer;
}

a, h4{
  color: grey;
}

section > div{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
/* WARNING: PER TUTTO */

body{
  padding: 20px 0;
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}

#app{
  margin: auto;
  width: 70vw;
  height: 95vh;
  display: flex;
  flex-direction: row;
}

/* WARNING: PARTE SINISTRA */
.left{
  width: 40%;
  height: 100%;
  border: 1px solid grey;
}

/* ZONA HEADER SINISTRO */
.header-left{
  width: 100%;
  height: 70px;
  background-color: lightgrey;
  justify-content: space-between;
}

.header-left .img{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-left .icons i{
  padding-left: 20px;
}

/* ZONA NOTIFICHE SINISTRO */
.notify-left{
  width: 100%;
  height: 70px;
  background-color: lightblue;
}

.notify-left i{
  padding-right: 20px;
}

/* ZONA RICERCA SINISTRO */
.search-left{
  width: 100%;
  height: 60px;
  background-color: lightgrey;
}

.search-left input{
  height: 100%;
  width: 100%;
  border: none;
  margin-left: 20px;
  border-radius: 10px;
}

/* ZONA CONTATTI SINISTRO */
.contact-left{
  width: 100%;
  height: calc(100% - 200px);
  background-color: lightgreen;
  align-items: flex-start;
  overflow-y: scroll;
}

.contact-left .contatto{
  display: flex;
  flex-direction: row;
}

/* WARNING: PARTE DESTRA */
.right{
  width: 60%;
  height: 100%;
  border: 1px solid grey;
}

/* ZONA USER DESTRO */
.user-left{
  width: 100%;
  height: 70px;
  background-color: lightgrey;
  justify-content: space-between;
}

.user-left .img{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-left .icons i{
  padding-left: 20px;
}

/* ZONA CHAT DESTRO */
.chat-left{
  width: 100%;
  height: calc(100% - 140px);
  background-image: url("../img/space.jpg");
  background-size: cover;
  overflow-y: scroll;
}

/* ZONA DIGITAZIONE DESTRO */
.digit-left{
  width: 100%;
  height: 70px;
  background-color: lightgrey;
  justify-content: space-between;
}

.digit-left input{
  height: 100%;
  width: 100%;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
}

.digit-left i.fa-paper-plane{
  margin-right: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 30%;
  color: white;
}
